<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    <link rel="stylesheet" href="/css/reviewstyle.css">
    <link rel="shortcut icon" href="/default/favicon.ico" type="image/x-icon">

</head>

<body>
    <div class="container">
        <div class="reviewheading">
            <h1>Reviews are here</h1>
        </div>
        <% if (locals.reviews) { %>
            <% reviews.forEach(function(review) { %>
                <div class="commentsection">
                    <div class="userimage">
                        <img src="/default/default.png" alt="User Image">
                    </div>
                    <div class="commentbody">
                        <h2>
                            <%= review.userid.username %>
                        </h2>
                        <p class="commenttext">
                            <%= review.details %>
                        </p>
                        <% if (locals.user && locals.user.id===review.userid.id) { %>
                            <a href="/blog/deletereview/<%= review.id %>" class="deletebtn">Delete</a>
                            <% } %>
                    </div>
                </div>
                <% }) %>
                    <% } %>

                        <% if (locals.user) { %>
                            <div class="commentsection">
                                <div class="userimage">
                                    <img src="/default/default.png" alt="User Image">
                                </div>
                                <div class="commentbody">
                                    <form action="/blog/addreview/<%= user.id %>" method="post">
                                        <h4>
                                            <%= user.username %>
                                        </h4>
                                        <input type="text" class="commentvalue" placeholder="Enter Your Review"
                                            name="details">
                                        <button type="submit" class="addcommentbtn">Add review</button>
                                    </form>
                                </div>
                            </div>
                            <% } %>


    </div>
</body>

</html>